
h2
{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

h1
{
    color: burlywood;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin-top: 220px;
}
h3
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 170px;
}
h4
{
    color: burlywood;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin-top: 10px;
}
p
{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}






.background
{
    margin: 0;
    height: 200vh; 
    background-image: url('BG1.GIF'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.background2
{
    margin: 0;
    height: 200vh; 
    background-image: url('BG2.GIF'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.background3
{
    margin: 0;
    height: 200vh; 
    background-image: url('BG3.GIF'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.background4
{
    margin: 0;
    height: 200vh; 
    background-image: url('BG4.GIF'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

img
{
    max-width: 400px;  
    display: block;
    width: 100%;     
    margin: 0 auto;
    height: auto;
    cursor: pointer;
}





