h2
{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}
h1
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 220px;
}
h3
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 170px;
}
p
{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}



body
{
    background-image: url('BG1.GIF');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}
