

h2
{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}
h1
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 220px;
}
h3
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 170px;
}
p
{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}



.background
{
    margin: 0;
    height: 200vh; 
    background-image: url('BG1.GIF'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.background2
{
    margin: 0;
    height: 200vh; 
    background-image: url('BG2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

img
{
    max-width: 400px;  
    display: block;
    width: 100%;     
    margin: 0 auto;
    height: auto;
    cursor: pointer;
}
.img2
{
    max-width: 800px;  
    display: block;
    width: 100%;     
    margin-left: 0;
    margin-right: auto;
    height: auto;
    cursor: pointer;
}
